.main {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh; */
  /* color: white; */
  padding: 0;
  margin: 0;
  overflow-x: hidden; 
  font-family: 'Plus Jakarta Sans';
  background-color: white;
  overflow-y: hidden;
  /* for smooth scroll transition from any intra anchor link */
  scroll-behavior: smooth; 
}
.heroContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 10px solid green; */
  height: 900px;
  background-image: linear-gradient(to top, #03538D, #131024);
}
.hero{
  margin-top: 11.5em;
  /* border: 2px solid salmon; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width:75em;
}
.primaryButton{
  font-family: 'Plus Jakarta Sans';
  font-size: 1em;
  padding: 0.8em 1em;
  background-color: #0887E2;
  border: none;
  border-radius: 0.5em;
}
.secondaryButton{
  margin-left: 1em;
  font-family: 'Plus Jakarta Sans';
  font-size: 1em;
  padding: 0.8em 1em;
  background-color: transparent;
  color: white;
  border: 1px solid #0887E2;
  border-radius: 0.5em;
}
.heroLeft{
  max-width: 35em;
  /* border: 2px solid green; */
  margin-right: 2em;
}
.heroText{
  font-size: 2.8em;
}
.heroSubtext{
  color: #B5C7D5;
  margin-top: 1.5em;
  font-weight: 300;
}
.heroCtas{
  margin-top: 2em;
  /* font-weight: 300; */
}
.heroRight{
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
}
.sampleAnalytics{
  color: #B5C7D5;
  margin-top: -20em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.featuresContainer{
  margin-top: 3em;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.featuresList{
  margin-top: 2em;
  /* border: 2px solid red; */
  display: flex;
  flex-wrap: wrap;
  max-width: 85vw;  
  justify-content: center;
}
.featureCard{
  /* border: 2px solid yellowgreen; */
  width: 20em;
  height: 15em;
  margin: 2em;
  display: flex;
  flex-direction: column;
}
.featureHeading{
  color: #083452;
  font-weight: 600;
  font-size: 1.2em;
  margin: 1em 0em;
}
.featureDesc{
  color: #4A4A4A;
  font-weight: 300;
  margin-bottom: 1em;
}
.btnUnderline{
  font-size: 1em;
  border: none;
  background: none;
  color: #083452;
  font-family: 'Plus Jakarta Sans';
  width: fit-content;
  border-bottom: 1.5px solid #083452;
  cursor: pointer;
}
.trustedChoice{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F1F1F1;
  color: #555555;
}
.trustedChoice h2{
  margin-top: 2em;
  font-weight: 400;
}
.trustedImages{
  /* margin-top: 2em;
  margin-bottom: 2em; */
}
.trustedImages *{
  margin: 2em;
}
.featureToggle{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tabsContainer{
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabButtons{
  display: flex;
  /* border-bottom: 1px solid #D4D4D4; */
  width: 20em;
  justify-content: space-between;
  cursor: pointer;
  border: none;
}
.tabButton{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #083452;
  /* border: 2px solid green; */
}
.tabButton > span:nth-child(2){
  margin-top: 0.5em;
  font-family: 'Plus Jakarta Sans';
  font-size: large;
  font-weight: 600;
  color: #083452;
  display: flex;
  flex-direction: column;
}
.tabSelectedBorder{
  margin-top: 0.3em;
  width: 100%;
  height: 0.3em;
  background-color: #0887E2;
  border-radius: 5px 5px 0px 0px;
}
.tabPanelContainer{
  /* border: 2px solid blue; */
  padding-top: 3em;
  /* margin-top: 3.5em; */
  max-width: 70em;
  /* max-height:25em; */
  color: #4a4a4a;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tabPanel{
  display: flex !important;
  align-items: center;
  flex-wrap: wrap;
  /* margin-top: 4em; */
  /* border: 2px solid aqua; */
}
.tabPanelFeature{
  display: flex;
  flex-direction: column;
  /* border: 1px solid; */
  max-width: 30em;
  margin-left: 3em;
  margin-bottom: 2em;
}
.tabPanelFeatureHeading{
  color: #083452;
  font-size: large;
  font-weight: 600;

}
.tabPanelFeatureDesc{
  color: #4A4A4A;
  font-weight: 300;
}
.numbersSetion{
  margin-top: 3em;
  background-color: #F1F1F1;
  min-height: 10em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.numbersSetion > div{
  margin-right: 3em;
  margin-left: 3em;
  text-align: center;
}
.numberHeading{
  font-size: xx-large;
  font-weight: 800;
  color: #083452;
}
.numberDesc{
  color: #4A4A4A;
}
/* BLOGS SECTION CSS */
.blogsSection{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blogsContainer{
  margin-top: 2.5em;
  margin-left: auto;
  margin-right: auto;
  /* border: 2px solid black; */
  max-width: 70em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.blogCard{
  border: 2px solid #D4D4D4;
  background-color: #F9F9F9;
  width: 20em;
  padding: 1.5em;
  border-radius: 0.5em;
  margin: 1.5em;
}
.blogTitle{
  color: #083452;
  font-size: larger;
  font-weight: 600;
  height: 5em;
}
.blogDesc{
  margin-top: 1.2em;
  /* margin-bottom: 1.2em; */
  color: #4A4A4A;
  height: 14.5em;
}
/* CONTACT SECTION */
.contactSection{
  margin-top: 4em;
  background-color: #E6F3FC;
  min-height: 35em;
  max-height: 60em;
  display: flex;
  /* flex-direction: row; */
  padding-left:15em;
  padding-right: 15em;
  align-items: center;
  justify-content: center;
}
.contactContainer{
  max-width: 80em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* border: 2px solid fuchsia; */
}
.contactContent{
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
  max-width: 40em;
  margin-right: 5em;
  justify-content: center;
}
.contactHeading{
  color: #083452;
  font-size: xx-large;
  font-weight: 600;
  max-width: 16em;
  min-width: 10em;
}
.contactDesc{
  margin-top: 2em;
  color: #4A4A4A;
  font-weight: 300;
  max-width: 30em;
}
.contactForm{
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
  height: 23em;
  min-width: 25em;
  justify-content: space-between;
}
.inputContainer{
  display: flex;
  flex-direction: column;
}
.inputContainer input{
height: 3.5em;
background-color: #FFFFFF;
border: 1px solid #d4d4d4;
border-radius: 0.5em;
width: 100%;
color: #083452;
padding-left: 0.5em;
padding-right: 0.5em;
font-size: medium;
}
.inputContainer label{
  color: #083452;
  font-weight: 500;
  margin-bottom: 0.5em;
}
.contactForm button{
  font-family: 'Plus Jakarta Sans';
  font-size: 1em;
  padding: 0.8em 1em;
  background-color: #0887E2;
  border: none;
  border-radius: 0.5em;
  width: 8em;
}
/* FOOTER SECTION CSS */
.footer{
  background-color: #083452;
  display: flex;
  flex-wrap: wrap;
  font-weight: lighter;
  width: 100%;
  padding:5em 0 5em 0;
  justify-content: space-evenly;
}
.footerCenter{
  display:flex;
  /* border: 1px solid white; */
  width: 30em;
  justify-content: space-between;
  font-size: large;
  flex-wrap: wrap;
}
.footerColumnHeading{
  font-weight: 600;
  margin-bottom: 1em;
}
.footerLink{
  cursor: pointer;
  padding-top: 0.5em;
}

/* MOBILE VIEW CSS */
@media only screen and (max-width: 820px) {
  .main{
    /* border: 10px solid yellowgreen; */
  }
  .hero{
    justify-content: center;
  }
  .heroRight{
    margin-top: 2em;
    width: 22em;
  }
   .heroLeft{
    margin-right: 0px;
    text-align: center;
   }
   .sampleAnalytics{
    margin-top: -6em;
   }
   .featuresContainer h1{
    text-align: center;
   }
   .trustedChoice{
    text-align: center;
   }
   .trustedChoice h2{
    width: 13em;
   }
   .featureToggle h1{
    width: 11em;
   }
   .tabPanel{
    justify-content: center;
   }
   .tabPanelFeature{
    /* margin: o; */
   }
   .numbersSetion{
    height: 25em;
   }
   .blogsContainer{
    justify-content: center;
   }
   .contactContent{
    justify-content: center;
    text-align: center;
    margin-right: 0em;
    /* align-items: center; */
   }
   .contactSection{
    justify-content: center;
    padding: 4em 0em 4em 0em;
   }
   .contactForm{
    margin-top: 3em;
    padding-left: 1em;
    padding-right: 1em;
   }
   .footerCenter{
    margin-top: 3em;
   }

  /* div.project-card{
      width: 20em;
  } */
}